<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Interview Scheduled</title>
</head>
<body>
<div class="container">
    <h3>Hello, <span th:text="${interviewer}"></span> and <span th:text="${candidate}"></span>!</h3>
    <p>Your interview is scheduled as follows:</p>
    <p>Date: <span th:datetime="${datetime}"></span></p>
    <br />
    <div class="footer">
        <p>Thank You</p>
        <p>Team.</p>
    </div>
</div>
</body>
</html>
